@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(235, 235, 235);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", serif;
}


/* nav style  */
nav {
    color: white;
    width: 1280px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.navb{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Work Sans", serif;
    width: 250px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
nav button{
    font-family: "Work Sans", serif;
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    color:  rgb(0, 106, 80);
    padding: 10px 20px;
    border-radius: 5px;
}
nav button:hover{
    background-color: orangered;   
}


/* section1 */
.section1{
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.section1 img{
    margin-right: 100px;
    width: 474.03px;
    height: 400px;
}
.idea{
    margin-left: 100px;
    width: 610px;
    height: 325px;
}
.idea p{
    font-size: 24px;
    color: #0E0E0E;
    margin-bottom: 16px;
}
.idea h1{
    font-size: 51px;
    font-weight: bold;
    margin-bottom: 24px;
}
.idea button{
    width: 287px;
    height: 56px;
    background-color: #006A50;
    color: white;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.idea button:hover{
    background-color: orangered;
}

/* section2 */

.section2 {
    width: 1280px;
    height: 324px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.container2 h1{
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: bold;
}
.card{
    width: 302px;
    height: 244px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.card img{
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
}
.card h2{
    margin-left: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.card p{
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
    margin-bottom: 0;
    color: #0E0E0E;
}
.sec2cards{
    display: flex;
    gap: 20px;
}

/* section3 */

.container3 h1 {
    font-size: 40px;
    font-weight: bold;
}

.contp {
    margin-top: 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.section3 {
    width: 1280px;
    height: 765px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.sec3cards {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 24px;

}

.cards {
    border-radius: 16px;
    width: 410.67px;
    height: 352px;
    margin-bottom: 32px;
}

.cards img {
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 24px;
    width: 62px;
    height: 62px;
}

.cards h2 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 32px;
    margin-bottom: 12px;
}

.cards p {
    margin-left: 32px;
    margin-right: 32px;
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.btn0 {
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    color: white;
    font-weight: 700;
    margin-left: 32px;
}

.btn0:hover {
    background-color: orangered;
}

.btn1{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    margin-left: 32px;
    background-color: rgb(9,161,92);
}
.btn1:hover {
    background-color: orangered;
}

.btn2{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    margin-left: 32px;
    background-color:rgb(255,194,57);
}
.btn2:hover{
    background-color: orangered;
}

.summary{
    border-radius: 16px;
    border: 1px solid white;
    background-color: white;
    width: 1280px;
    height: 256px;
}
.sum{
    margin-top: 48px;
    margin-left: 34px;
    color: white;
    background:url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left  top;
    border: 1px solid white;
}
.pra{
    color: #0E0E0E;
    margin-top: 26px;
    margin-right: 34px;
}
.summary h1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 34px;
    color: #0E0E0E;
    margin-bottom: 4px;
}
.summary p{
    margin-left: 34px;
    font-size: 16px;
    color: #0E0E0E;
} 

/* section4 */

.container4{
    width: 1280px;
    height: 481px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.container4 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.table{
    height: 409px;
    width: 1280px;
    border: 0.5px solid white;
    background-color: white;
    border-radius: 16px;
}
.table table{
    border: 1px solid gray;;
    border-collapse: collapse;
    width: 1216px;
    height: 345px;
    margin: 32px;
}
.hed{
    background-color: #C6E4D6;
    width: 1216px;
    height: 72px;
    
}
.had th{
    font-size: 20px;
    font-weight: 700;
    
}
.qn th{
    border: 1px solid gray;

}
table select{
    padding: 20px;
    border-radius: 8px;
    background-color: #C6E4D6;
}

table select option{
    padding: 20px;
    border-radius: 8px;
    background-color: #C6E4D6;
}
table select:hover{
    padding: 20px;
    border-radius: 8px;
    background-color: orangered;
}

/* section5 */
.section5 {
    width: 1280px;
    height: 1406px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
}

.news>h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.news>p {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.st {
    width: 408px;
    height: 306px;
    border-radius: 24px;
    margin-left: 48px;
    margin-top: 48px;
}

.lances h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 48px;
}

.lances {
    margin-right: 48px;
}

.lances img {
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}

.date {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 12px;
}

.std {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.lances>button {
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 106, 80);
    font-weight: bold;
}
.lances > button:hover{
    background-color: orangered;
}

.newscard {
    width: 1280px;
    height: 402px;
    display: flex;
    gap: 32px;
    border: 1px solid white;
    border-radius: 24px;
    margin-bottom: 24px;
    background-color: white;
}

/* section6 */
.container6{
    width: 1280px;
    height: 464px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.container6>h1{
    font-size: 40px;
    color: #0E0E0E;
}
.container6>p{
    width: 1104px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    font-size: 16px;
    color: #0E0E0E;
}
.ammount{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.ammount div{
    background-color: white;
    border: 1px solid white;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
}
.ammount div:hover{
    background-color: #C6E4D6;
}
.amt{
    margin-left: auto;
    margin-right: auto;
    width: 1032px;
    height: 64px;
    border: 1px solid #0E0E0E;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 32px;
    background-color: rgb(255,255,255);
    display: block;
    border: none;
}

.amt:focus{
    outline: none;
}
.container6 button{
    border-radius: 8px;
    border: none;background-color: rgb(0,106,80);
    padding: 17px 34px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 80px;
}
.container6 button:hover{
    background-color: orange;
}


/* section7 */
.section7{
    border: 1px solid #C6E4D6;
    width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 81px;
}
.container7{
    width: 750px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px

}
.container7 h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.container7 p{
    width: 622px;
    height: 48px;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color: #0E0E0E;
    margin-left: auto;
    margin-right: auto;
}
.email{
    border: none;
    margin-right: 0px;
    padding: 18px 40px;
    width: 500px;
    border-radius: 8px 0px 0px 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.email:focus{
    outline: none;
}
.container7 button{
    padding: 16px 34px;
    margin-left: -7px;
    border-radius: 0px 8px 8px 0px;
    border: none;
    background-color: rgb(0,106,80);
    color:white;
    font-size: 18px;
    font-weight: 500;
}
.container7 button:hover{
    background-color: rgb(0, 2, 1);
}

/* footer */
.imgs{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    }

    .imgs img:hover{
        background-color: aquamarine;
    }
    footer{
        text-align: center;
    }
